NODE_ENV = "development"
PORT = YOUR_PORT

DB_USER = "database-username"
DB_NAME = "database-name"
DB_PASSWORD = "database-password"
DB_HOST = "database-host"
DB_PORT = YOUR_DB_PORT (5432 is default for postgre)


JWT_SECRET = "whatever-secret"
